@import 'tailwindcss';

body {
  font-family: var(--font-roboto), sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(250, 250, 250, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a,
input,
button {
  font-family: var(--font-roboto), sans-serif;
}

/* @layer {
  .triangle::before {
    content: '';
    position: absolute;
    right: 100%;
    top: calc(50% - 15px);
    border-top: 12px solid #bcec30;
    border-bottom: 15px solid black;
    width: 0;
    height: 0;
  }
} */
