@import 'tailwindcss';

body {
  font-family: var(--font-roboto), sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(250, 250, 250, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a,
input,
button {
  font-family: var(--font-roboto), sans-serif;
}

@layer {
  .sparcle::before {
    content: url('/img/sparcle.svg');
    margin-right: 8px;
    vertical-align: middle;
  }

  .profile::after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-left: 2px solid rgba(0, 0, 0, 1);
    border-bottom: 2px solid rgba(0, 0, 0, 1);
    transform: rotate(-45deg);
    padding: 0;
    margin: -6px 0 0 12px;
  }

  .workoutcontent {
    width: max-content;
  }

  .workoutlist {
    width: max-content;
    overflow-y: scroll;
    /* overflow-y: auto; */
  }

  .workoutlist::-webkit-scrollbar {
    width: 6px;
    /* height: 116px; */
  }

  .workoutlist::-webkit-scrollbar-track {
    background-color: rgba(247, 247, 247, 1);
    border-radius: 10px;
  }

  .workoutlist::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
  }
}
@media screen and (max-width: 768px) {
  .profile::after {
    width: 8px;
    height: 8px;
    border-left: 2px solid rgba(0, 0, 0, 1);
    border-bottom: 2px solid rgba(0, 0, 0, 1);
    transform: rotate(-45deg);
    padding: 0;
    margin: -6px 0 0 10px;
  }
}
